#logo1{
	color: #6D213C;
	font-family: Cambria;
	font-size: 30px;
	font-weight: bold;
	margin-left: 1px;
}
#logo2{
	color: black;
	font-family: Cambria;
	font-size: 30px;
	font-weight: bold;
	margin-left: 1;
}
.logo0 {
    margin-right: 15px;
    margin-top: 10px;
    margin-left: 5px;
    padding: 0px;
    float: left;
}
#menu{
	color: black;
	font-family: Cambria;
	font-size: 20px;
	float: left;
	margin-left: 12px;
	margin-top: 30px;
}
#menu:hover{
	color: #6D213C;
}
.phone-number {
    display: flex;
    align-items: center;
    font-family: Cambria;
    color: #000;
    text-decoration: none;
    margin-top: 20px;
 }
.phone-number2{
	font-size: 18px;
	margin-left: 14px;	
	text-decoration: none;
}
.phone-number3{
	font-size: 18px;
	margin-left: 12px;	
	text-decoration: none;
}
#iconos:hover{
	color: green;
}
#menup{
	padding: 15px;
}
#Hola h6{
	font-size: 70px;
	font-family: Brush Script MT;
	color: #6D213C;
	text-align: center;
}
#colorfondo{
	background-color: white;
}
.slider{
	width: 100%;
	margin: auto;
	overflow: hidden;
}
.slider ul {
	display: flex;
	padding: 0;
	width: 500em;

	animation: cambio 30s infinite;
}
.slider li {
	width: 100%;
	list-style: none;
}
.slider img {
	width: 50%;
	margin-left: 5%;
}
@keyframes cambio {
	0% { margin-left: 0;}
	10% {margin-left: 0;}

	20% {margin-left: -100%;}
	30% {margin-left: -100%;}

	40% {margin-left: -200%;}
	50% {margin-left: -200%;}

	60% {margin-left: -300%;}
	70% {margin-left: -300%;}

	80% {margin-left: -400%;}
	90% {margin-left: -400%;}

	95% {margin-left: -500%;}
	100% {margin-left: -500%;}
}
#bmx{
	background-color: #97dfd7;
}
#bmx h2{
	color: #e1b487;
	font-style: oblique;
	font-family: Cambria;
	color: #000;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
#bmx p{
	color: #9E8468;
}
#bmx hr{
	border-width: 2px;
	border-color:#000 ;
	border-style: solid ;
}
#bike1{
	background-color: #97dfd7;
}
#bike1 hr{
	border-width: 2px;
	border-color:#000 ;
	border-style: solid ;
}
#bike1 h3{
	font-style: oblique;
	font-family: Cambria;
	color: #000;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
#bike1 p{
	text-align: center;
	color: #9E8468;
}
#bike2{
	background-color: #97dfd7;
}
#bike2 hr{
	border-width: 2px;
	border-color:#000 ;
	border-style: solid ;
}
#bike2 h3{
	font-style: oblique;
	font-family: Cambria;
	color: #000;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
#bike2 p{
	text-align: center;
	color: #000;
}
#bike3{
	background-color: #97dfd7;
}
#bike3 hr{
	border-width: 2px;
	border-color:#000 ;
	border-style: solid ;
}
#bike3 h3{
	font-style: oblique;
	font-family: Cambria;
	color: #000;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
#bike3 p{
	text-align: center;
	color: #9E8468;
}
.Protecciones, .scooter{
	padding: 30px;
}
.productos{
	text-align: center;
    color: #6D213C;
    font-size: 100px;
    font-family: Brush Script MT;
}
.ver-todas{
	text-align: center;
    font-size: 48px;
    font-family: cambria;
}
.ver-todas2{
	color: #000;
	text-decoration: none;
}
.titulo-descripcion h1{
	text-align: center;
	font-family: cambria;
	font-size: 50px;
	color: #6D213C;
}
.precio-productos h1{
	text-align: center;
	font-family: cambria;
	font-size: 20px;
	color: #000;
}
#division{
	border-width: 20px;
	border-color:#000000;
	border-style: solid;
}
#linea{
	border-width: 10px;
	border-color:#000000;
	border-style: solid;
}
#logo3{
	color: #6D213C;
	font-family: Cambria;
	font-size: 30px;
	font-weight: bold;
	margin-left: 1px;
}
#logo4{
	color: white;
	font-family: Cambria;
	font-size: 30px;
	font-weight: bold;
	margin-left: 1px;
}
footer{
	background-color: #97DFD7;

}
.lista_menu {
    color: #000;
    font-size: 20px;
    font-family: Cambria;
    padding-top: 10px;
}
.lista_menu a{
	text-decoration: none;
	color: #000;
}
.lista{
	color: white;
	padding: 30px;
}
.lista h3{
	color: #000;
	font-weight: bold;
	font-family: Cambria;
	font-size: 30px;
	padding-top: 30px;
}
.derechos {
	text-align: center;
	color: #000;
	padding-top: 30px;
	padding-bottom: 30px;
}